* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", "Lato", "Sans-serif";
  font-size: 1.6rem;
}

:root {
  --primary-color: #0f1b4c;
  --primary-colour: #191919;
  --secondary-colour: hsl(233 80% 70%);
  --star-colour: hsl(38 90% 55%);
}

/* Emmet code */
a {
  text-decoration: none;
}

.btn {
  text-wrap: nowrap;
  min-width: 98px;
  border-radius: 8px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
}

.btn:hover {
  opacity: 80%;
}

/* Header */
header {
  background: #d1def1;
  /* height: 100vh; */
}

.main-container {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 38px 0;
  text-wrap: nowrap;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  background: #d1def1;
  z-index: 999;
}

.nav-bar .logo {
  width: 107px;
  height: 24px;
}

.nav-bar .logo .logo-page {
  width: 100%;
}

.nav-bar ul {
  display: flex;
  margin-left: 8%;
  gap: 28px;
}

.nav-bar li {
  transition: color 1s ease-in;
}

.nav-bar li:hover > a {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.nav-bar ul a {
  color: #4f5361;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-bar .action {
  margin-left: auto;
}

.nav-bar .action-link {
  color: #0f1b4c;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  width: 50px;
}

.nav-bar .action-link:hover {
  opacity: 50%;
}

.nav-bar .btn {
  padding: 10px 23px;
  margin-left: 18px;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 39px;
  order: -999;
}

.hero .hero-info {
  width: 559px;
  height: 400px;
  /* background: #3d3636; */
}

.hero .hero-theme {
  /* background: #3d3636; */
  position: relative;
  width: 100%;
  height: 619px;
  order: 2;
}

.hero .hero-theme::after {
  content: url(/asset/img/Group439.svg);
  position: absolute;
  top: 0;
  right: -67px;
}

.hero-info .sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
  max-width: 100%;
}

.hero-info .hero-title {
  margin-top: 8px;
  color: #000336;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.18;
  width: 600px;
}

.hero-info .hero-desc {
  margin-top: 30px;
  margin-bottom: 40px;
  color: #5a6473;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.77;
  text-transform: capitalize;
}

.hero-info .btn {
  padding: 15px 38px;
  text-align: center;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/************************ Client *******************************/
.client {
  margin-top: 79px;
}

.client .main-container {
  padding-top: 43px;
  padding-bottom: 41px;
}

.client-user {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.client-user .logo {
  width: 107px;
}

.client-user .desc {
  margin-top: 23px;
  color: #7d8589;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
}

.client-user .content-review {
  text-align: right;
}

.content-review .container {
  position: relative;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 100%;
  transform: translate(-50%, -50%) rotateY(180deg);
}

.content-review .container .container__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 0.5em;
  width: 100%;
  height: 100%;
}

.content-review .container .container__items input {
  display: none;
}

.content-review .container .container__items label {
  width: 20%;
  aspect-ratio: 1;
  cursor: pointer;
}

.content-review .container .container__items label .star-stroke {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background: var(--secondary-colour);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.content-review .container .container__items label .star-stroke .star-fill {
  width: 70%;
  aspect-ratio: 1;
  /* background: var(--secondary-colour); */
  background: #ecf0f5;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.content-review .container .container__items input:hover ~ label .star-stroke,
.content-review .container .container__items input:checked ~ label .star-stroke {
  background: var(--star-colour);
}

.content-review .container .container__items input:checked ~ label .star-stroke .star-fill {
  background: var(--star-colour);
}

.content-review .container .container__items label:hover .label-description::after {
  content: attr(data-content);
  position: fixed;
  left: 0;
  right: 0;

  margin-top: 0.5em;
  margin-inline: auto;

  width: 100%;
  height: 2em;

  color: var(--star-colour);

  text-align: center;
  font-size: 2rem;

  transform: rotateY(180deg);
}

.client-logo {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client-logo a {
  transition: transform 0.5s ease;
}

.client-logo a:hover:not(a:nth-child(3)) {
  transform: translateY(-20%);
  color: #000336;
}

.client-logo a:nth-child(3) {
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: 2px 3px 3px 0px rgba(102, 101, 101, 0.557);
}

/**************** Guides Main *************************/
.guide {
    margin-top: 40px;
    text-align: center;
    line-height: 1.87;
}

.guide .main-container {
    padding-top: 79px;
    padding-bottom: 79px;
    display: flex;
    justify-content: center;
}

.guide-main .sub-title {
    position: relative;
    color: #000339;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
}

.guide-main .sub-title::after {
    content: "";
    position: absolute;
    width: 41px;
    height: 4px;
    top: -10px;
    right: 50%;
    transform: translateX(50%);
    flex-shrink: 0;
    border-radius: 999px;
    background: #000339;
}

.guide-main .desc {
    color: #5A6473;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87;
    max-width: 459px;
    margin: 0 auto;
}

.list-guide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 140px;
    margin-top: 70px;
}

.item-guide {
    cursor: pointer;
    text-wrap: nowrap;
}

.item-guide:hover .title,
.item-guide:hover .link {
    opacity: 0.8;
}

.list-guide img {
    width: 47.991px;
    height: 48px;
    flex-shrink: 0;
}

.list-guide .title {
    margin-top: 26px;
    color: #3B3C45;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
}

.list-guide .link {
    display: block;
    margin-top: 10px;
    color: #0689FF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    /* background: #000; */
    width: 100px;
    animation-name: example;
    animation-delay: -2s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        color: #605f32;
    }
    30% {
        color: #72ca5c;
    }
    60% {
        color: #4cccf7;
    }
    100% {
        color: #d12e2e;
    }
}

.list-guide .link::after {
    content: url(/asset/img/vectorguides.svg);
    position: absolute;
    right: -25px;
    top: 0;
    display: inline-block;
    transition: transform 0.8s ease-in-out;
}

.item-guide:hover a.link::after {
    transform: translateX(50%);
}

.guide-main .btn {
    display: inline-block;
    margin-top: 50px;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 14px 24px;
}

/*************************** Features Main *************************/
.features {
    margin-top: 41px;
    text-wrap: nowrap;
    background: #d1def1;
}

.features .main-container {
    padding-top: 110px;
    padding-bottom: 110px;
    position: relative;
}

.features .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.features .desc {
    margin-top: 15px;
    color: #5A6473;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87; 
}

.features .link {
    position: absolute;
    display: inline-block;
    color: #0689FF;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    top: 165px;
    right: 50px;
}

.features .link::after {
    content: url(/asset/img/vectorguides.svg);
    position: absolute;
    right: -40px;
    top: 2px;
    display: inline-block;
}

.list-fea {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    gap: 30px;
    flex-wrap: wrap;
}

.item-fea {
    /* background: #000; */
    cursor: pointer;
    width: 31.45%;
    min-height: 357px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.60);
    transition: transform 0.6s ease-in-out;
}

.item-fea:hover {
    transform: translateY(-6%);
}

.item-fea .thumb-img {
    top: 0;
    left: 0;
}

.item-fea .body {
    margin: 17px 38px 18px 20px;
    overflow: hidden;
}

.item-fea .body .title {
    color: #000339;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    transition: color 0.5s ease-in-out;
}

.item-fea:hover .title {
    color: #b0d882;
}

.item-fea .body .desc {
    margin-top: 11px;
    color: #A3A6AB;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.item-fea .body .info {
    margin-top: 22px;
    display: flex;
    flex-wrap: nowrap;
}

.item-fea .body .icon {
    margin-left: 22px;
}

.item-fea .body .icon:first-child {
    margin-left: -22px;
}

.item-fea .body .label {
    margin-left: 8px;
}

/*************************** stats ***********************************/
.stats {
    margin-top: 75px;
}

.stats .main-container {
    padding: 50px 42px 50px 11px;
}

.row-header {
    display: flex;
    width: 100%;
}

.row-header .block-img,
.row-header .block-body {
  width: 50%;
  height: 460px;
}

.row-header .block-img {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.row-header .block-img .block-image {
    z-index: 1;
    width: 460px;
    height: 100%;
    background: url(/asset/img/image-stats.jpg) lightgray 0px 25% / 100% 117.792% no-repeat;
    border-radius: 12px;
    box-shadow: 40px 80px 155px 0px rgba(30, 103, 113, 0.03);
    top: 0;
    right: 0;
}

.block-trends {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 12px 0;
    width: 239px;
    height: 252px;
    z-index: 2;
    background: #fff;
    padding: 45px 23px 40.4px 22px;
}

.block-trends .flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-trends .value {
    width: 159px;
    height: 26px;
    flex-shrink: 0;
    color: #000339;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.26px;
    text-wrap: nowrap;
}

.block-trends .value::after {
    display: inline-block;
    content: "+";
    top:  0;
    left:  0;
    color: #000339;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.26px;
}

.block-trends .desc {
    margin-top: 8px;
    color: #A7A7A7;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    width: 194px;
    height: 31px;
    flex-shrink: 0;
}

.block-trends .separate {
    margin-top: 25.5px;
    width: 193.62px;
    height: 1.2px;
    flex-shrink: 0;
    background: #ffc5c5;
}

.block-trends .block-avatar {
    margin-top: 25.79px;
    width: 193px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px 13.9px;
}

.block-trends  .avatar-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    line-height: 16px;
    cursor: pointer;
    position: relative;
}

.block-trends  .avatar-group .avatar-img {
    width: 16.337px;
    height: 16.337px;
    flex-shrink: 0;
    margin-left: -3px;
    border-radius: 16.337px;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.10);
    transition: transform 0.5s ease;
}

.block-trends  .avatar-group .avatar-img:hover {
    transform: scale(150%);
}

.row-header .block-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 165px;
    padding-top: 69px;
}

.row-header .block-body .sub-title {
    position: relative;
    color: #000339;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.28;
    width: 269px;
}

.row-header .block-body .sub-title::before {
    position: absolute;
    content: "";
    width: 41px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #000339;
    top: -10px;
    left: 0;
}

.row-header .block-body .desc {
    margin-top: 20px;
    width: 309px;
    color: #5A6473;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87;
}

.row-qty {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
}

.qty-item:first-child {
    margin-left: 32px;
}

.qty-item .qty {
    color: #000;
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.qty-item .qty-desc {
    margin-top: 22px;
    color: #7B8087;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*********************** Subscription ********************/
.subscription {
    margin-top: 52px;
    margin-bottom: 55px;
}

.subcri {
    position: relative;
    background: #fff;
    border-radius: 20px;
    text-wrap: nowrap;
    height: 409px;
    width: 100%;
    padding-top: 38px;
    overflow: hidden;
}

.subcri .body-subcri {
    height:370px;
    background: #063183;
    border-radius: 20px;
    padding-top: 110px;
    padding-left: 80px;
}

.subcri .body-subcri .sub-title {
    color: #FFF;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.subcri .body-subcri .desc {
    margin-top: 15px;
    width: 407px;
    color: #FFF;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87;
    opacity: 0.7;
    display: -webkit-box;
        -webkit-line-clamp: var(--line-clamp, 1);
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 25px;
}

.subcri .body-subcri .btn {
    background: #fff;
    color: #002366;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 14px 43px;
}

.subcri .subcri-img {
    position: absolute;
    top: 0;
    right: 100px;
    width: 418.083px;
    height: 438.437px;
    flex-shrink: 0;
    fill: #F4F4F4;
}

/****************** Footer Page ***************************/
.footer {
    text-wrap: nowrap;
}

.footer .main-container {
    padding-top: 50px;
    padding-bottom: 58px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    text-align: start;
}

.footer .column:last-child {
  width: 257px;
}

.footer .list {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    gap: 18px 0;
}

.footer .column:last-child .desc {
  margin-top: 40px;
  text-wrap: wrap;
}

.footer .title {
    color: #1C1C1D;
    font-family: Lato;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;
}

.footer .item a,
.footer .desc {
    color: #7A7A7E;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: text-decoration 0.5s ease;
}

.footer .item a:hover {
    text-decoration: underline;
}

.footer .column:last-child .row {
  margin-top: 40px;
  width: 117px;
  display: flex;
  gap: 8px;
}

.footer .column:last-child .row .social {
  border: 1px solid #000;
  padding: 5px;
  border-radius: 5px;
  
}

.footer .column:last-child .row .social:hover i {
  transform: translateY(-3px);
  color: #063183;
}

.footer .column:last-child .row i {
  color: #686868;
  transition: transform 0.2s ease-in-out;
}

.row-under {
  margin-top: 80px;
}

.row-under .copyright {
  color: #b5b5b5;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}